<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.estrategiamovilmx.sales.weespareenvios" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <permission
        android:name="com.estrategiamovilmx.sales.weespareenvios.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.estrategiamovilmx.sales.weespareenvios.permission.C2D_MESSAGE" />

    <permission
        android:name="com.estrategiamovilmx.sales.weespareenvios.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.estrategiamovilmx.sales.weespareenvios.ui.activities.StartActivity"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.estrategiamovilmx.sales.weespareenvios.ui.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.estrategiamovilmx.sales.weespareenvios.ui.activities.DetailPublicationActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.estrategiamovilmx.sales.weespareenvios.ui.activities.GalleryActivity"
            android:theme="@style/AppTheme.Gallery" >
        </activity>
        <activity
            android:name="com.estrategiamovilmx.sales.weespareenvios.ui.activities.ShippingActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.estrategiamovilmx.sales.weespareenvios.ui.activities.AddShippingAddressActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <service
            android:name="com.estrategiamovilmx.sales.weespareenvios.gmaps.GeocodeAddressIntentService"
            android:exported="false" />

        <activity
            android:name="com.estrategiamovilmx.sales.weespareenvios.ui.activities.SelectShippingPointActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.estrategiamovilmx.sales.weespareenvios.ui.activities.ContactActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.estrategiamovilmx.sales.weespareenvios.ui.activities.AddContactActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.estrategiamovilmx.sales.weespareenvios.ui.activities.PaymentMethodActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.estrategiamovilmx.sales.weespareenvios.ui.activities.ReviewActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.estrategiamovilmx.sales.weespareenvios.ui.activities.CongratsActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.estrategiamovilmx.sales.weespareenvios.ui.activities.ShoppingCartActivity"
            android:label="@string/title_activity_shopping_cart"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.estrategiamovilmx.sales.weespareenvios.ui.activities.OrdersActivity"
            android:label="@string/title_activity_orders_client"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.estrategiamovilmx.sales.weespareenvios.ui.activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.estrategiamovilmx.sales.weespareenvios.ui.activities.LocationActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name="com.estrategiamovilmx.sales.weespareenvios.ui.activities.SignOutActivity" >
        </activity>
        <activity
            android:name="com.estrategiamovilmx.sales.weespareenvios.ui.activities.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.estrategiamovilmx.sales.weespareenvios.ui.activities.ChangePasswordActivity"
            android:label="@string/prompt_password_change_title"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.estrategiamovilmx.sales.weespareenvios.ui.activities.OrderDetailActivity"
            android:label="@string/promt_title_activity_detail_order"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.estrategiamovilmx.sales.weespareenvios.ui.activities.OrdersDeliverActivity"
            android:label="@string/action_shipping"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <!-- [START firebase_service] -->
        <service android:name="com.estrategiamovilmx.sales.weespareenvios.notifications.MyFirebaseMessagingService" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->
        <!-- [START firebase_iid_service] -->
        <service android:name="com.estrategiamovilmx.sales.weespareenvios.notifications.MyFirebaseInstanceIDService" >
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_iid_service] -->
        <activity android:name="com.estrategiamovilmx.sales.weespareenvios.ui.activities.FCMPluginActivity" />
        <activity android:name="com.estrategiamovilmx.sales.weespareenvios.ui.activities.ReplyActivity" >
        </activity>
        <activity android:name="com.estrategiamovilmx.sales.weespareenvios.ui.activities.SubscriptionActivity" >
        </activity>
        <activity
            android:name="com.estrategiamovilmx.sales.weespareenvios.ui.activities.MapsActivity"
            android:label="@string/title_activity_maps" >
        </activity>
        <activity
            android:name="com.estrategiamovilmx.sales.weespareenvios.ui.activities.NewOrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.estrategiamovilmx.sales.weespareenvios.ui.activities.BudgetActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.estrategiamovilmx.sales.weespareenvios.ui.activities.SignatureActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name="com.estrategiamovilmx.sales.weespareenvios.ui.activities.ManageLocationsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/title_fav">
        </activity>
    </application>

</manifest>
